<div class="date-container">
  <div class="calendar-date">
    <span class="calendar-day">{{ currentDate | date: 'EEEE' }}</span>
    <div class="date-summary">
      <span class="calendar-day-number">{{ currentDate | date: 'd' }}</span>
      <span class="calendar-month">{{ currentDate | date: 'MMMM' }}</span>
      <span class="calendar-year">{{ currentDate | date: 'y' }}</span>
    </div>
  </div>
  <div class="calendar">
    <div class="header">
      <button (click)="onMonthChange(-1)">&lt;</button>
      <span>{{ currentDate | date: 'MMMM' }}</span>
      <button (click)="onMonthChange(1)">&gt;</button>
      <div></div>
      <button (click)="onYearChange(-1)">&lt;</button>
      <span>{{ currentDate | date: 'y' }}</span>
      <button (click)="onYearChange(1)">&gt;</button>
    </div>

    <div class="weekdays">
      @for (day of weekDaysArray; track $index) {
      <div>{{ day }}</div>
      }
    </div>

    <div class="days">
      @for (day of days; track $index) {
      <div [class.selected]="day?.day === currentDate.getDate() && day?.currentMonth"
        [class.disabled]="!day?.currentMonth" (click)="day?.currentMonth && onDateSelection(day.day)">
        {{ day?.day }}
      </div>
      }
    </div>
  </div>
</div>